.aside{
    background-color: antiquewhite;
    width: 100px;
    height: 90vh;
    display: flex;
    justify-content: center;
    padding: 20px;
    float: left;
}

.aside_list a{
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #fff;
}

.aside_list a.active{
    color: #000;
}
